@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

:root {
  --cor-branca-secundaria: #DCE1EB;
  --cor-branca: #FFFFFF;
  --cor-principal-texto : #FFFFFF;
  --cor-secundaria-texto : #95999C;
  --cor-botao : #32F04C;
  --cor-botao-hover : #28BD3C;
  --fonte-principal: 'Poppins', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--cor-branca-secundaria);
}
