.main {
    font-family: var(--fonte-principal);
}
.welcome {
    width: 96%;
    display: flex;
    flex-direction: cloumn;
    justify-content: space-between;
    align-items: center;
    margin: 4rem auto;
    background-color: var(--cor-branca);
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--cor-branca);
}
.welcome .desc {
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    border-right: 4px solid var(--cor-branca-secundaria);
}
.desc h1 {
    font-weight: 800;
    margin: 1rem 0;
}
.desc p {
    font-weight: 500;
}
.img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    width: 80%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    font-family: var(--fonte-principal);
    color: var(--cor-branca);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 1rem;
    background-color: var(--cor-botao);
    border: none;
    cursor: pointer;
    padding: 0 1rem;
}
.arrow {
    margin-left: 1rem;
}
.btn:hover .arrow {
    margin-left: 1.5rem;
    transition: 0.3s;
}
.warning {
    width: 96%;
    display: flex;
    flex-direction: cloumn;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    border-bottom: 4px solid var(--cor-branca);
    border-top: 4px solid var(--cor-branca);
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--cor-branca);
    padding: 0.5rem;
}
.warning .desc {
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    border-left: 4px solid var(--cor-branca);
}
